<events_table>
   <events class="java.util.ArrayList">
      <event>
         <id class="java.lang.String">89e7e4a6-d325-487f-9394-02141464f635</id>
         <title>auto_race</title>
         <description>competition</description>
         <date>2021-02-14 00:00:00.0 MSK</date>
         <creationDate>2021-03-11 00:00:00.0 MSK</creationDate>
         <price>150</price>
         <quantity>2.5</quantity>
         <costumer>
            <id class="java.lang.String">64c45950-646a-4ea8-918f-f95efef1e25e</id>
            <name>Sergey</name>
            <lastName>Esenin</lastName>
            <birthDay>1999-10-12 00:00:00.0 MSD</birthDay>
            <dateOfRegistration>2021-03-11 00:00:00.0 MSK</dateOfRegistration>
            <role>CUSTOMER</role>
            <town>Moscow</town>
            <wallet>0.0</wallet>
         </costumer>
         <status>NONE</status>
         <type>ORDER</type>
      </event>
      <event>
         <id class="java.lang.String">5c76c378-f84e-4ba5-a0be-1e3aeb1261b7</id>
         <title>auto_race</title>
         <description>competition</description>
         <date>2021-02-14 00:00:00.0 MSK</date>
         <creationDate>2021-03-11 00:00:00.0 MSK</creationDate>
         <price>150</price>
         <quantity>2.5</quantity>
         <costumer>
            <id class="java.lang.String">93362943-ca57-49a6-88ed-c2e4ee8ad16c</id>
            <name>Sergey</name>
            <lastName>Esenin</lastName>
            <birthDay>1999-10-12 00:00:00.0 MSD</birthDay>
            <dateOfRegistration>2021-03-11 00:00:00.0 MSK</dateOfRegistration>
            <role>CUSTOMER</role>
            <town>Moscow</town>
            <wallet>0.0</wallet>
         </costumer>
         <status>NONE</status>
         <type>ORDER</type>
      </event>
      <event>
         <id class="java.lang.String">b5277e39-a2ea-4183-9d6c-e281e03a8e82</id>
         <title>auto_race</title>
         <description>competition</description>
         <date>2021-02-14 00:00:00.0 MSK</date>
         <creationDate>2021-03-11 00:00:00.0 MSK</creationDate>
         <price>150</price>
         <quantity>2.5</quantity>
         <costumer>
            <id class="java.lang.String">32b8e02e-0ff1-43a6-842d-37c7faf97b5e</id>
            <name>Sergey</name>
            <lastName>Esenin</lastName>
            <birthDay>1999-10-12 00:00:00.0 MSD</birthDay>
            <dateOfRegistration>2021-03-11 00:00:00.0 MSK</dateOfRegistration>
            <role>CUSTOMER</role>
            <town>Moscow</town>
            <wallet>0.0</wallet>
         </costumer>
         <status>NONE</status>
         <type>ORDER</type>
      </event>
      <event>
         <id class="java.lang.String">65c9396b-905a-4355-b395-88b884fdff38</id>
         <title>auto_race</title>
         <description>competition</description>
         <date>2021-02-14 00:00:00.0 MSK</date>
         <creationDate>2021-03-11 00:00:00.0 MSK</creationDate>
         <price>150</price>
         <quantity>2.5</quantity>
         <costumer>
            <id class="java.lang.String">1f289551-d309-4e3e-87cf-149aa0a48248</id>
            <name>Sergey</name>
            <lastName>Esenin</lastName>
            <birthDay>1999-10-12 00:00:00.0 MSD</birthDay>
            <dateOfRegistration>2021-03-11 00:00:00.0 MSK</dateOfRegistration>
            <role>CUSTOMER</role>
            <town>Moscow</town>
            <wallet>0.0</wallet>
         </costumer>
         <status>NONE</status>
         <type>ORDER</type>
      </event>
      <event>
         <id class="java.lang.String">e2093530-2f5e-4231-8e7e-9ab0e3326dc2</id>
         <title>auto_race</title>
         <description>competition</description>
         <date>2021-02-14 00:00:00.0 MSK</date>
         <creationDate>2021-03-11 00:00:00.0 MSK</creationDate>
         <price>150</price>
         <quantity>2.5</quantity>
         <costumer>
            <id class="java.lang.String">8f7a7291-64ba-4324-b11a-313b504d4ced</id>
            <name>Sergey</name>
            <lastName>Esenin</lastName>
            <birthDay>1999-10-12 00:00:00.0 MSD</birthDay>
            <dateOfRegistration>2021-03-11 00:00:00.0 MSK</dateOfRegistration>
            <role>CUSTOMER</role>
            <town>Moscow</town>
            <wallet>0.0</wallet>
         </costumer>
         <status>NONE</status>
         <type>ORDER</type>
      </event>
      <event>
         <id class="java.lang.String">58d0dfac-6cfb-43ad-a5f9-202db27117f7</id>
         <title>racing</title>
         <description>competition</description>
         <date>2021-02-14 00:00:00.0 MSK</date>
         <creationDate>2021-03-11 00:00:00.0 MSK</creationDate>
         <price>150</price>
         <quantity>2.5</quantity>
         <costumer>
            <id class="java.lang.String">05748362-f21c-4544-8ded-e6d3b51d18b9</id>
            <name>Sergey</name>
            <lastName>Esenin</lastName>
            <birthDay>1999-10-12 00:00:00.0 MSD</birthDay>
            <dateOfRegistration>2021-03-11 00:00:00.0 MSK</dateOfRegistration>
            <role>CUSTOMER</role>
            <town>Moscow</town>
            <wallet>0.0</wallet>
         </costumer>
         <status>NONE</status>
         <type>ORDER</type>
      </event>
      <event>
         <id class="java.lang.String">70f1a866-0135-48ab-84dd-3dc6fe5acb9f</id>
         <title>auto_race</title>
         <description>competition</description>
         <date>2021-02-14 00:00:00.0 MSK</date>
         <creationDate>2021-03-11 00:00:00.0 MSK</creationDate>
         <price>150</price>
         <quantity>2.5</quantity>
         <costumer>
            <id class="java.lang.String">17855811-2fc8-408d-bea2-daeca8900331</id>
            <name>Sergey</name>
            <lastName>Esenin</lastName>
            <birthDay>1999-10-12 00:00:00.0 MSD</birthDay>
            <dateOfRegistration>2021-03-11 00:00:00.0 MSK</dateOfRegistration>
            <role>CUSTOMER</role>
            <town>Moscow</town>
            <wallet>0.0</wallet>
         </costumer>
         <status>NONE</status>
         <type>ORDER</type>
      </event>
   </events>
</events_table>