<events_table>
   <events class="java.util.ArrayList">
      <event id="bafa47cd-44c1-4698-826e-27f7329e25d8">
         <title>first event</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="642fa71e-3536-494b-9a4a-0bad7a6dafa4">
         <title>first event</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="b3aa24d2-e51c-40bc-a14a-c65fd4b130ed">
         <title>updatedTitle</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="b8caae98-6c47-4633-b49c-0873ee2963cb">
         <title>updatedTitle</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="8e3abf54-b627-43f8-b458-2b0eb3e583c0">
         <title>first event</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="8dbf9e76-99d9-4534-9252-581fa1de8515">
         <title>updatedTitle</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="c455147c-cd68-4c96-bb6d-8eca7bbbb534">
         <title>first event</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="53222c3c-a564-4bdd-97e5-f9c457c50de1">
         <title>first event</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="9b7e4066-87ca-447a-8730-a55301e58744">
         <title>updatedTitle</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="07c6e7a4-e0c1-4e7d-8ce7-6add29fcaa2a">
         <title>first event</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="4b7ae20c-a5b4-4f84-b44a-0c09e8b4b564">
         <title>first event</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="3830bdf2-bbef-4607-b042-e7f0e822b085">
         <title>updatedTitle</title>
         <description>test description</description>
         <customer>3</customer>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <status>UNCOMPLETED</status>
      </event>
      <event id="cb0948b2-978d-46b5-a761-ffdcd8e4ded7">
         <title>first event</title>
         <description>test description</description>
         <customer>3</customer>
         <executor></executor>
         <event_date>2021-01-13</event_date>
         <price>129</price>
         <quantity>2.5</quantity>
         <payment_method>NONE</payment_method>
         <paid>false</paid>
         <payment_date></payment_date>
         <status>UNCOMPLETED</status>
      </event>
   </events>
</events_table>